body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

header {
    background: #004aad;
    color: white;
    padding: 20px;
}

.galeria .imagens img {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    border-radius: 8px;
}

button {
    background: #004aad;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #003580;
}
